<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="Shared.template.tt"#>

<# GenerateHeaderGuards(entity.ToObjCInterface()); #>

#import <Foundation/Foundation.h>

<#

GenerateClassForwardDeclarations(entity);
GenerateImportsForEnums(entity);

GenerateInterfacePrologue(entity);

foreach(var prop in entity.Properties)
{
    GeneratePropertyDeclaration(prop);
}


#>

@end

#endif
