<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="Shared.template.tt"#>

<#
string entityName = entity.ToObjCInterface();
string collectionOperationsName = entity.GetRelatedEntityTypeString("CollectionOperations");
#>

#import "<#=entityName#>.h"
#import "<#=prefix#>Fetchers.h"

<#
GenerateImplementationPrologue(entity,"CollectionOperations");
GenerateActionMethodImplementations(entity);
#>

@end
