<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="Shared.template.tt"#>

<#

GenerateHeaderGuards(prefix+"Fetchers");

var entityTypes = model.GetEntityTypes();

foreach(var et in entityTypes)
{

#>
#import "<#=et.ToObjCInterface() #>CollectionFetcher.h"
#import "<#=et.ToObjCInterface() #>CollectionOperations.h"
#import "<#=et.ToObjCInterface() #>Fetcher.h"
#import "<#=et.ToObjCInterface() #>Operations.h"
<#

}

#>

#import "<#=prefix#>Client.h" 

#endif
